service: serverless
frameworkVersion: '2'
provider:
  name: aws
  runtime: nodejs12.x
  stage: dev
  region: ap-south-1

functions:
  - hello:
      handler: src/handler.hello
      timeout: 120
      memorySize: 128
      events:
        - http:
            path: /hello 
            method: get

