service: serverless
# frameworkVersion: '2'
provider:
  name: aws
  runtime: nodejs12.x
  stage: dev
  region: ap-south-1

# functions:
#   - CheckAndGetEvents:
#       handler: src/check-and-get-event.handler
#       timeout: 120
#       memorySize: 128
#       # events:
#       #   - http:
#       #       path: /handler
#       #       method: get
#   - Checkout:
#       handler: src/checkout.handler
#       timeout: 120
#       memorySize: 128
#       # events:
#       #   - http:
#       #       path: /handler 
#       #       method: get
#   - GenSecretCode:
#       handler: src/gen-secret-code.handler
#       timeout: 120
#       memorySize: 128
#       # events:
#       #   - http:
#       #       path: /handler 
#       #       method: get

